<%- include("../partials/base",{ title: "Docs" }) %>

<h1> <%= CONFIG.NAME %> </h1>
<pre>
    <% for (let i = 0; i < TOPFIVE.length; i++) { %>
        <div><%= TOPFIVE[i].title %></div>
    <% } %>
</pre>
